html, body {
    min-width: 1122px;
    min-height: 1750px;
    margin: 0;
    padding: 0;
}

html.inner-page-html, body.inner-page {
    min-height: 0;
}

body {
    background-size: 1122px auto;
    min-width: 960px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
    background: #000000 url("img/body-bg.png") no-repeat center top;
    color: #fff;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.main-navigator {
    width: 780px;
    float: left;
    /*Только для оформления сетки*/
    min-height: 70px;
}

.user-block {
    float: right;
    max-width: 140px;
    /*Только для оформления сетки*/
    min-height: 70px;
}

.login {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 25px 20px;
    padding-left: 50px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
}

.login:hover {
    background: #242424;
}

.login::before {
    content: "";
    position: absolute;
    /*display: block;*/
    top: 28px;
    left: 20px;

    width: 18px;
    height: 18px;
    background: transparent url("img/sprite.png") no-repeat;
    opacity: 0.3;
}

.login:hover::before {
    opacity: 1;
}

.inner-page {
    color: #000;
    background: #f8f3f0 url("img/patter-white.jpg");
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    /*height: 20px;*/
    /*background-color: white;*/
    /*background-image: linear-gradient(45deg, white 45%, black 50%, white 55%);*/
    /*background-size: 20px;*/
}

.main-header {
    margin-bottom: 60px;
    color: #fff;
    background-color: #000;
}

.inner-page .main-header {
    margin-bottom: 55px;
}

.main-navigator a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 25px 20px;
}

.main-navigator a:hover {
    background: #242424;
}

.main-navigator .active a:hover {
    background: none;
}

.main-navigator .active {
    position: relative;
    background: none;
}

.main-navigator .active:after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;
    height: 5px;
    background-color: #fff;
}

.main-navigator .active span {
    display: block;
    padding: 25px 20px;
}

.main-navigator .logo-inner {
    float: left;
    width: 111px;
    height: 20px;
    padding-top: 22px;
}

.main-navigator .logo-inner img {
    width: 111px;
    height: 24px;
}

.main-navigator .logo-inner:hover {
    background: none;
}

.main-navigator ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigator li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
}

.index-logo {
    height: 204px;
    width: 368px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.index-logo img {
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.features-item {
    float: left;
    width: 300px;
    margin-right: 20px;
    text-align: center;
    /*Только для оформления сетки*/
    /*min-height: 175px;*/
}

.features-item:last-child {
    margin-right: 0;
}

.feature-name {
    position: relative;
    display: block;
    font-size: 30px;
    margin-bottom: 30px;
    padding-bottom: 35px;
    line-height: 42px;
}

.feature-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    transform: rotate(45deg);
}

.features-item p {
    margin: 10px;
    margin-bottom: 0;
}

.features {
    margin-bottom: 80px;
}

.index-content {
    margin-bottom: 35px;
    padding: 50px 80px;
    color: #000000;
    background: url("img/index-content-shadow.png") no-repeat center, #f8f5f2 url("img/pattern-white.jpg");
}

.index-content-left {
    float: left;
    width: 380px;

    /*Только для оформления сетки*/
    min-height: 330px;
}

.index-content-title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 42px;
}

.index-content p {
    margin: 0;
    margin-bottom: 25px;
}

.news-preview {
    margin: 0;
    padding: 0;
    padding-right: 35px;
    list-style: none;
}

.news-preview li {
    margin-bottom: 25px;
}

.news-preview p {
    margin-bottom: 0;
}

.news-preview time {
    text-transform: none;
    font-weight: 400;
}

.btn {
    display: inline-block;
    padding: 10px 33px;
    margin-right: 16px;
    color: #fff;
    background-color: #000;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: top;
    text-align: center;
}

.btn:hover,
.btn:active {
    background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
    background-color: #000;
}

.gallery {
    position: relative;
    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery .btn {
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.appointment-form input {
    /*display: inline-block;*/
    /*font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    font-family: "PT Sans Narrow", "Arial", sans-serif;*/
    /*color: #000;*/
    /*text-transform: uppercase;*/
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 106px;
    padding: 7px 15px;
    color: inherit;
    font: inherit;
    text-transform: inherit;
    background-color: #f9f6f3;
    border: 2px solid #000;
    outline: none;
}

.appointment-form input:nth-child(2n) {
    margin-right: 0;
}

.appointment-form .btn {
    clear: both;
    width: 100%;
}

.appointment-form input:focus {
    border: 2px solid #663d15;
}

.index-content-right {
    float: right;
    width: 300px;

    /*Только для оформления сетки*/
    min-height: 330px;
}

/*Inner page styles*/

.inner-page-title {
    margin-bottom: 55px;
}

.inner-page-title h1 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs li {
    position: relative;
    display: inline;
    padding-right: 40px;
}

.breadcrumbs li:after {
    content: "";
    position: absolute;
    top: 4px;
    right: 18px;
    width: 8px;
    height: 8px;
    background-color: #000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.breadcrumbs a {
    color: #000;
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs .current {
    color: #aba9a7;
}

.breadcrumbs .current:after {
    content: none;
}

/*Общие стили для контентных тегов*/

.inner-content {
    margin-bottom: 75px;
}

.inner-content h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
}

.inner-content p {
    margin: 14px 0;
}

.inner-content h2 + h3 {
    margin-top: 30px;
}

.inner-content table {
    border-collapse: collapse;
}

.inner-content td {
    padding: 10px 15px;
    border: 2px solid #000;
}

/*Особые стили для контентных тегов*/

.big-heading {
    margin-top: 55px;
    margin-bottom: 65px;
    text-align: center;
}

.big-heading h2 {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 25px;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    background: #f8f3f0 url("img/patter-white.jpg") repeat;
    z-index: 2;
}

.big-heading::after {
    content: "";
    position: relative;
    top: -25px;
    display: block;
    border-bottom: 2px solid #000;
    z-index: 1;
}

.custom-list-1 {
    margin: 14px 0;
    padding: 0;
    list-style: none;
}

.custom-list-1 li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 20px;
}

.custom-list-1 li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #000;
    transform: rotate(45deg);
}

.prices-table {
    width: 100%;
}

.prices-table td {
    width: 50%;
}

.prices-table td:last-child {
    text-align: center;
}

/*Колонки для контента*/

.inner-columns {
    margin: 60px 0;
    /*outline: 3px solid black;*/
    /*outline-offset: 2px;*/
}

.inner-column-left,
.inner-column-right {
    width: 460px;
    /*outline: 3px solid red;*/
    /*outline-offset: -2px;*/
}

.inner-column-left {
    float: left;
}

.inner-column-right {
    float: right;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
    margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
    margin-bottom: 0;
}

.short-text {
    padding-right: 80px;
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    color: #fff;
    background: #252525 url("img/pattern-black.jpg")
}

.footer-contacts {
    float: left;
    width: 340px;
    margin-right: 60px;

    /*Только для оформления сетки*/
    min-height: 90px;
}

.footer-contacts a {
    color: #fff;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    float: left;
    width: 180px;
    text-align: center;
    /*Только для оформления сетки*/
    /*min-height: 90px;*/
}

.footer-copyright {
    float: right;
    max-width: 180px;

    /*Только для оформления сетки*/
    /*min-height: 90px;*/
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.footer-copyright .btn {
    margin-right: 0;
}

.footer-copyright .btn:hover {
    color: #000;
    background-color: #fff;
}

/*Всплывающая форма*/

.modal-content {
    position: absolute;
    display: none;
    top: 120px;
    left: 50%;
    margin-left: -230px;
    width: 300px;
    padding: 50px 80px;
    color: #000;
    background: #f8f3f0 url("img/patter-white.jpg");
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

@keyframes bounce {
    0% { transform: translateY(-2000px); }
    70% { transform: translateY(30px); }
    90% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.modal-error {
    animation: shake 0.6s;
}

.modal-content-map {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 20;

    width: 766px;
    height: 561px;
    margin-top: -280px;
    margin-left: -390px;

    background: #e9e5dc url('img/map.png');
    border: 7px solid white;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
}

.modal-content-close {
    position: absolute;
    top: 0;
    right: -34px;
    width: 22px;
    height: 22px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 19px;
    height: 3px;
    background-color: #d0d0d0;
    border-radius: 1px;
}

.modal-content-close::before {
    transform: rotate(45deg);
}

.modal-content-close::after {
    transform: rotate(-45deg);
}

.modal-content h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
}

.modal-content p {
    margin: 0;
    margin-bottom: 14px;
}

.modal-content .login-form {
    margin-top: 30px;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 236px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 20px;
    padding-right: 40px;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #000;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 2px solid #000;
    outline: none;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-form input.icon-user {
    background-image: url("img/icon-user.png");
    background-position: 100%;
    background-position-x: 96%;
    background-repeat: no-repeat;
}

.login-form input.icon-password {
    background-image: url("img/icon-password.png");
    background-position: 100%;
    background-position-x: 96%;
    background-repeat: no-repeat;
}

.login-form .restore {
    float: right;
    color: #000;
}

.login-form .btn {
    width: 100%;
    margin-top: 15px;
}

.login-checkbox input[type="checkbox"] {
    display: none;
}

.login-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.login-checkbox:hover {
    color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -3px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;
    width: 15px;
    height: 2px;
    background-color: #000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(-45deg);
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    background: #000 url("img/spritesheet_final2.png") no-repeat center;
    transition: background-position 0.5s,
    background-color 0.5s;
}

.social-btn:hover {
    background-color: #ffffff;
}

.social-btn-fb {
    background-position: 0 -129px;
}

.social-btn-inst {
    background-position: 0 -215px;
}

.social-btn-vk {
    background-position: 0 -43px;
}

.social-btn-fb:hover {
    background-position: 0 -86px;
}

.social-btn-inst:hover {
    background-position: 0 -172px;
}

.social-btn-vk:hover {
    background-position: 0 0;
}


